@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  
}
body {
  color: var(--foreground);
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}
.header-menu{
  background-color: #f5f8f7;
}
.signup-button{
  background-color: #04184d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
