@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import slick carousel css */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  
}
body {
  color: var(--foreground);
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}
.header-menu{
  background-color: #f5f8f7;
}
.signup-button{
  background-color: #1f2937;
}
.sidebar-background{
  background-color: #04184d;
}
.slick-prev:before, .slick-next:before{
  color: #1f2937 !important;
}
.slide-image{
width: 25%;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
